In [4]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [5]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2021-07-23 01:11:10,-54.8000,-68.3000,38.86,70,75,4.61
1,1,Saskylakh,RU,2021-07-23 01:11:10,71.9167,114.0833,66.29,67,53,9.10
2,2,New Norfolk,AU,2021-07-23 01:11:10,-42.7826,147.0587,55.71,58,47,4.00
3,3,Jamestown,US,2021-07-23 01:08:58,42.0970,-79.2353,65.79,67,1,1.81
4,4,Kartuzy,PL,2021-07-23 01:11:11,54.3342,18.1974,56.57,97,0,3.44

In [6]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [16]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.1)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
#The default option for the dissipation is "True," so we need to set our "dissipation" to "False."
#We can add max_intensity to make each measurement have a better gradient variance.
#We can add point_radius to make each measurement radius larger.
#Also, you'll have to tweak these values until you are satisfied with the final map.

# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.1)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2.1)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [36]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
7,7,Hilo,US,2021-07-23 01:11:12,19.7297,-155.0900,80.33,80,90,12.66
8,8,Albany,US,2021-07-23 01:06:59,42.6001,-73.9662,70.63,63,100,3.00
12,12,Vaini,TO,2021-07-23 01:06:55,-21.2000,-175.2000,80.76,78,20,5.75
13,13,Rikitea,PF,2021-07-23 01:11:13,-23.1203,-134.9692,73.51,73,0,19.33
14,14,Faanui,PF,2021-07-23 01:11:14,-16.4833,-151.7500,78.01,69,10,14.54
20,20,Shimoda,JP,2021-07-23 01:06:20,34.6667,138.9500,82.74,72,31,5.93
23,23,Awbari,LY,2021-07-23 01:11:16,26.5921,12.7805,81.10,25,0,11.14
25,25,Hithadhoo,MV,2021-07-23 01:11:17,-0.6000,73.0833,80.82,76,100,10.85
31,31,Helong,CN,2021-07-23 01:11:19,42.5397,128.9972,82.65,65,100,2.55
32,32,Kurumkan,RU,2021-07-23 01:11:20,54.3000,110.3000,71.33,64,3,3.51

In [37]:
preferred_cities_df.count()

City_ID       238
City          238
Country       238
Date          238
Lat           238
Lng           238
Max Temp      238
Humidity      238
Cloudiness    238
Wind Speed    238
dtype: int64

In [38]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
7        Hilo      US     80.33  19.7297 -155.0900
8      Albany      US     70.63  42.6001  -73.9662
12      Vaini      TO     80.76 -21.2000 -175.2000
13    Rikitea      PF     73.51 -23.1203 -134.9692
14     Faanui      PF     78.01 -16.4833 -151.7500
20    Shimoda      JP     82.74  34.6667  138.9500
23     Awbari      LY     81.10  26.5921   12.7805
25  Hithadhoo      MV     80.82  -0.6000   73.0833
31     Helong      CN     82.65  42.5397  128.9972
32   Kurumkan      RU     71.33  54.3000  110.3000

In [39]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [47]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [48]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
7,Hilo,US,80.33,19.7297,-155.0900,Hilo Hawaiian Hotel
8,Albany,US,70.63,42.6001,-73.9662,
12,Vaini,TO,80.76,-21.2000,-175.2000,Keleti Beach Resort
13,Rikitea,PF,73.51,-23.1203,-134.9692,People ThankYou
14,Faanui,PF,78.01,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
...,...,...,...,...,...,...
537,Rosarito,MX,75.20,32.3333,-117.0333,Hotel Festival Plaza Rosarito
544,Trairi,BR,79.09,-3.2778,-39.2689,janelas do mar
546,Polis,CY,76.82,35.0367,32.4264,Marion
548,Chulman,RU,71.94,56.8479,124.9104,Gostinitsa
549,Winslow,US,80.78,35.0242,-110.6974,Best Western Plus Winslow Inn

In [49]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [54]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))